<div style="text-align:center">
  <div class="row">
    <div class="col-md-4">
      <p-dropdown [options]="provinceData" [(ngModel)]="selectedItems.province" [filter]="true" filterBy="label" resetFilterOnHide="true"
        [style]="{'width':'30%'}" (onChange)="provinceChange()"></p-dropdown>
    </div>
    <div class="col-md-4">
      <p-dropdown [options]="cityData" [(ngModel)]="selectedItems.city" [filter]="true" filterBy="label" resetFilterOnHide="true"
        [style]="{'width':'30%'}" (onChange)="cityChange()"></p-dropdown>
    </div>
    <div class="col-md-4">
      <p-dropdown [options]="countyData" [(ngModel)]="selectedItems.county" [filter]="true" filterBy="label" resetFilterOnHide="true"
        [style]="{'width':'30%'}" (onChange)="countyChange()"></p-dropdown>
    </div>

    <div class="col-md-4">
      当前选中：省代码:{{selectedItems.province}} 市代码：{{selectedItems.city}} 区\县代码：{{selectedItems.county}}
    </div>
  </div>
</div>
